{% extends "layout1.html" %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h1>Seleccion de coleccion!</h1>
  </div>
  <div class="card-body">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/databs/agricultores" class="btn btn-primary btn-lg" type="button">Agricultores</a>
        <a href="/databs/horas" class="btn btn-danger btn-lg" type="button">Horas Extra</a>
        <a href="/databs/poda" class="btn btn-success btn-lg" type="button">Poda</a>
        <a href="/databs/fertilizacion" class="btn btn-warning btn-lg" type="button">Fertilizacion</a>
        <a href="/databs/riego" class="btn btn-dark btn-lg" type="button">Riego</a>
      </div>
  </div>
</div>

{% endblock%}
