{% extends "layout.html" %}

{% block content %}

<div class="card">
  <div class="card-header">
    <strong>Como funciona?</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Breve Explicacion</h5>
    <p class="card-text">Esta es la implementacion de un modelo de gestion de bases de datos enfocado 
      <strong>en visualizar y gestionar los datos de una finca/cultivo de aguacates</strong> (En este caso), esta implementacion fue desarrollada por Jeronimo Velasquez Escobar, Jose Miguel Burgos Cuartas, Jose David Cardenas
      y Julian Osorio Alturo.</p>
    <p>Basados en el reto 2, todas las tablas que teniamos en MySql las convertimos en colecciones, esto con el fin de mantener la calidad de los datos.</p>
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
</div>

{% endblock%}
