{% extends "layout1.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">Aqui puedes gestionar los datos de Horas Extra</h1>
    </div>

    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Insertar un dato</h5>
                    </div>
                    <div class="card-body">
                        <form action="/databs/horas/add" method="POST">
                            <label>Fecha</label>
                            <input type="date" class="form-control mb-3" name="Fecha">
                            <label>Cantidad de horas(Horas)</label>
                            <input type="number" class="form-control mb-3" name="Horas">
                            <label>Agricultor Id</label>
                            <input type="number" class="form-control mb-3" name="cc">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Horas Extra</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                                {% for hora in horasEx %}
                                <div class="col">
                                    <li class="list-group-item mb-3">
                                        <form action="/databs/horas/ed/{{ hora._id }}/" method="POST">
                                            <small>FECHA</small>
                                            <input type="date" class="form-control" value="{{hora.Fecha}}" name="Fecha">
                                            <small>HORAS</small>
                                            <input type="number" class="form-control" value="{{hora.Horas}}"name="Horas">
                                            <small>Id Agricultor</small>
                                            <input type="number" class="form-control" value="{{hora.Agricultor._id}}" name="cc">
                                            <small>Nombre Agricultor</small>
                                            <input type="text" class="form-control" value="{{hora.Agricultor.Nombre}}" name="AgricultorN" readonly>
                                            <small>Apellido Agricultor</small>
                                            <input type="text" class="form-control" value="{{hora.Agricultor.Apellido}}" name="AgricultorA" readonly>
                                            <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                            <a href="/databs/horas/delete/{{ hora._id }}/"
                                                class="btn btn-danger btn-sm mt-3">Eliminar</a>
                                        </form>
                                    </li>
                                </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock%}